@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SingleDay';
    src: local('SingleDay'), url(/SingleDay.ttf) format('truetype');
  }

  .hover_css:hover {
    color: "white"
  }